/* ------------- app css --------------*/
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* ------------- shop menu --------------*/

nav {
    box-shadow: 0 2px 2px -2px gray;
}

.nav-link .badge-light {
    color: #FFF;
    background-color: #F17E0A;
}

.navbar-light .navbar-nav .nav-link.active .badge-light {
    color: #F17E0A;
    background-color: #FFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #6e6e6e;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F17E0A;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    background-color: #F17E0A;
    color: #FFF;
}

.bg-light {
    background-color: #FFF !important;
}

/* ------------- shop footer --------------*/
.shop-footer {
    background: #1E1E1E;
    color: #FFF;
}

.shop-footer a {
    color: #FFF;
    font-weight: bold;
}
